.log1{
    margin-left: 140px;
}
.logomain{
    margin-left: 140px;
}

.logo2{
    width: 80px;
}

.banner img{
    width: 100%;
    height: 70%;
    margin-top: 50px;
}

.btn{
    margin-top: 5px;
}

.register1{
    margin-top: 8px;   
}